// main: ../_mixins.scss


/*------------------------------------------------------------------------------*/
/* BORDER-RADIUS */
/*------------------------------------------------------------------------------*/

@mixin border-radius($x) {
  border-radius: ($x);
}

//
@mixin flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;

    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
}

/*------------------------------------------------------------------------------*/
/* BOX-SHADOW */
/*------------------------------------------------------------------------------*/
@mixin shadow-menu{
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
            box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

@mixin shadow-sall{
    -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

@mixin shadow-regular{
    -webkit-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

@mixin shadow-large{
    -webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
            box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
