// main: ../_fonts.scss

/*
    Flaticon icon font: Flaticon
    Creation date: 17/04/2019 16:15
*/

@font-face {
    font-family: "Flaticon";
    src: url("fonts/flaticon/Flaticon.eot");
    src: url("fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("fonts/flaticon/Flaticon.woff2") format("woff2"),
    url("fonts/flaticon/Flaticon.woff") format("woff"),
    url("fonts/flaticon/Flaticon.ttf") format("truetype"),
    url("fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
    }
}

.fi:before{
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.flaticon-facebook:before { content: "\f100"; }
.flaticon-instagram:before { content: "\f101"; }
.flaticon-placeholder:before { content: "\f102"; }
.flaticon-phone-call:before { content: "\f103"; }
.flaticon-menu:before { content: "\f104"; }
.flaticon-home:before { content: "\f105"; }
.flaticon-buddha:before { content: "\f106"; }
.flaticon-china:before { content: "\f107"; }
.flaticon-landmark:before { content: "\f108"; }
.flaticon-chinese:before { content: "\f109"; }
.flaticon-rice:before { content: "\f10a"; }
.flaticon-rice-1:before { content: "\f10b"; }
.flaticon-xiao-long-bao:before { content: "\f10c"; }
.flaticon-shrimp:before { content: "\f10d"; }
.flaticon-fish:before { content: "\f10e"; }
.flaticon-salad:before { content: "\f10f"; }
.flaticon-bird:before { content: "\f110"; }
.flaticon-chicken:before { content: "\f111"; }
.flaticon-pig:before { content: "\f112"; }
.flaticon-soup:before { content: "\f113"; }
.flaticon-china-1:before { content: "\f114"; }
.flaticon-beans:before { content: "\f115"; }
.flaticon-cow:before { content: "\f116"; }
.flaticon-lamb:before { content: "\f117"; }
.flaticon-twitter:before { content: "\f118"; }
.flaticon-visa:before { content: "\f119"; }

$font-Flaticon-facebook: "\f100";
$font-Flaticon-instagram: "\f101";
$font-Flaticon-placeholder: "\f102";
$font-Flaticon-phone-call: "\f103";
$font-Flaticon-menu: "\f104";
$font-Flaticon-home: "\f105";
$font-Flaticon-buddha: "\f106";
$font-Flaticon-china: "\f107";
$font-Flaticon-landmark: "\f108";
$font-Flaticon-chinese: "\f109";
$font-Flaticon-rice: "\f10a";
$font-Flaticon-rice-1: "\f10b";
$font-Flaticon-xiao-long-bao: "\f10c";
$font-Flaticon-shrimp: "\f10d";
$font-Flaticon-fish: "\f10e";
$font-Flaticon-salad: "\f10f";
$font-Flaticon-bird: "\f110";
$font-Flaticon-chicken: "\f111";
$font-Flaticon-pig: "\f112";
$font-Flaticon-soup: "\f113";
$font-Flaticon-china-1: "\f114";
$font-Flaticon-beans: "\f115";
$font-Flaticon-cow: "\f116";
$font-Flaticon-lamb: "\f117";
$font-Flaticon-twitter: "\f118";
$font-Flaticon-visa: "\f119";
