// main: ../style.scss



/*------------------------------------------------------------------------------*/
/* PAGE ACCUEIL */
/*------------------------------------------------------------------------------*/

.bg-cover{
    @include bg-cover;
    height: 100vh;
}

.img-cover{
    img{
        background-position: 50% 50%;
        background-size: cover;
        height: 100vh;
        position: absolute;
        z-index: -1;
        background-attachment: fixed;
    }
}

.bg-section{
    /* @include bg-cover; */
    height: 80vh;
}


#page-accueil{
    .logo-center{
        position: relative;
        top: 4rem;
        @include flexbox;
        @include justify-content(center);

        img{
            width: 80%;
            height: 50%;
        }
    }

    .button-accueil{
        color: $colorLight;
        font-size: 1.4rem;
        text-align: center;
        text-transform: uppercase;

        .btn-left, .btn-right{
            @include flexbox;
            position: relative;
            top: 4rem;
        }

        .btn{
            &-left{
                @include justify-content(right);
            }
            &-right{
                @include justify-content(left);
            }
        }

        img{
            width: 60%;
            border-radius: 50%;
            border: 1px solid $colorLight;
            margin-bottom: 2rem;
            &:hover{
                background-color: $colorPrimary;
                border-color: $colorPrimary;
            }
        }
    }


    .homepage-info-contact{
        color: $colorLight;
        @include flexbox;
        @include justify-content(center);

        ul{
            display: inline-flex;
            @include align-items(center);
            position: absolute;
            bottom: 2rem;
        }

        .info-accueil{
            display: inline-flex;
            line-height: 2;
            margin-right: 2rem;
            .icons{
                font-size: 1.1rem;
                margin-right: 15px;
            }

            p{
                font-size: 1.1rem;
                letter-spacing: 3px;
            }
        }
    }
}


/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    #page-accueil{
        top: 6rem;

        .button-accueil{
            position: relative;
            top: 5rem;
            font-size: large;
        }
    }

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    #page-accueil{
        .logo-center{
            img{
                margin-bottom: 1rem;
            }
        }
        .button-accueil{
            .btn-left, .btn-right{
                @include justify-content(center);
            }

            img{
                width: 40%;
                margin-bottom: 1rem;
            }

            .btn-txt{
                font-size: medium;
                margin-bottom: 2rem;
            }

        }


        .homepage-info-contact{
            ul{
                display: inline;
                text-align: center;
            }
            .info-accueil{
                line-height: 1;
                p{
                    font-size: small;
                }
            }

            .separation{
                display: none;
            }
        }
    }
}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){
    #page-accueil{
        .logo-center{
            img{
                width: 90%;
                height: 55%;
            }
        }

        .button-accueil{
            .btn-left, .btn-right{
                @include justify-content(center);
            }
            img{
                width: 40%;
                margin-bottom: 1rem;
            }
            .btn-txt{
                font-size: medium;
                margin-bottom: 1.5rem;
            }
        }

        .homepage-info-contact{
            ul{
                display: inline;
                text-align: center;
                bottom: .5rem;
            }
            .info-accueil{
                line-height: 1;
                padding: 0 1rem;

                .icons{
                    font-size: small;
                    margin-right: 3px;
                }
                p{
                    font-size: x-small;
                }
            }

            .separation{
                display: none;
            }
        }
    }
}
