// main: ../style.scss

.bg-cover{
    @include bg-cover;
    height: 100vh;
}

.img-cover{
    img{
        background-position: 50% 50%;
        background-size: cover;
        height: 100vh;
        position: absolute;
        z-index: -1;
        background-attachment: fixed;
    }
}

.bg-section{
    /* @include bg-cover; */
    height: 80vh;
}





// MEDIUM ----------------------------------------------------------------------
@include responsive(M){

}

// SMALL -----------------------------------------------------------------------
@include responsive(S){

}

//  EXTRA SMALL ----------------------------------------------------------------
@include responsive(XS){

}
