// main: ../style.scss

.card-formule{
    margin-bottom: 2rem;
}

.item-drink{
    line-height: 1.7rem;
    margin: 10px 10px;
}

.info-element-buffet{
    margin-right: 5px;
}


.nope{
    color: #c1c1c1;
    font-size: 1.3rem;
}


/*------------------------------------------------------------------------------*/
/* section-description-buffet */
/*------------------------------------------------------------------------------*/
#section-description-buffet{
    margin-bottom: 3rem;

    /* --- box-left --- */
    .box-left{
        padding: 0 4%;
        .description-buffet{
            text-align: justify;
        }
    } /* end -> .box-left */

    /* --- box-right --- */
    .box-right{
        padding: 0 4% 2% 0;
        .img-buffet{
            &:nth-child(even){
                margin-top: 30px;
            }
            img{
                @include border-radius(15px);
                margin-bottom: 20px;
                @include shadow-regular;
                max-height: 180px;
                height: auto;
            }
        }
    } /* end -> .box-right */

}/* END ==> #section-description-buffet */


/*------------------------------------------------------------------------------*/
/* section-tarif-buffet */
/*------------------------------------------------------------------------------*/
#section-tarif-buffet{
    h1{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    // box-intro-tarif ---------------------------------------------------------
    .box-intro-tarif{
        margin-bottom: 3rem;

        .box-left{
            padding: 6rem 4rem 0;
            p{
                font-size: 1.4rem;
                text-align: justify;
                margin-bottom: 2rem;
                letter-spacing: 3px;
            }
            .catch{
                font-size: 1.6rem;
                letter-spacing: 3.6px;
                font-weight: bold;
                color: $colorPrimary;
            }
        }/* end -> box-left */

        .box-right{
            img{
                width: 100%;
            } /* end -> box-right */

        } /* end --> box-right */

    } /* end --> box-intro-tarif */

    .item-card{
        margin-bottom: 3rem;
    }

    // box-formule -------------------------------------------------------------
    .box-formule{

    } /* end --> box-formule */

}/* END ==> section-tarif-buffet */




/*------------------------------------------------------------------------------*/
/* MEDUIM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

    // section-description-buffet ----------------------------------------------
    #section-description-buffet{
        .box-left{
            .description-buffet{
                font-size: medium;
                margin-bottom: 3rem;
            }
        }/* end -> .box-left */
        .box-right{
            .img-buffet{
                &:nth-child(even){
                    margin-top: 15px;
                }
                img{
                    margin-left: 12px;
                    height: 240px;
                }
            }
        }/* end -> .box-right */
    } /* end ---> #section-description-buffet */


    // #page-buffet-msg ---------------------------------------------------------
    #page-buffet-msg{
        h2{
            margin-bottom: 1rem;
            line-height: 2;
        }
     }

    // section-tarif-buffet ----------------------------------------------------
    #section-tarif-buffet{
        .box-intro-tarif{
            .box-left{
                padding-top: 2rem;
                padding-left: 2rem;
                p{
                    font-size: large;
                }
                .catch{
                    font-size: 1.4rem;
                }
            }/* end -> .box-left */

            .box-right{
                display: flex;
                justify-content: center;
                align-items: center;
            }/* end -> .box-right */
        }/* end -> .box-intro-tarif */
    }/* end ---> #section-tarif-buffet */
}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){

    // page-buffet-msg ---------------------------------------------------------
    #page-buffet-msg{
        .justify-content-md-center {
            margin-right: 0;
            margin-left: 0;
        }

    }/* END ---> #page-buffet-msg */


    // section-description-buffet ----------------------------------------------
    #section-description-buffet{
        .box-left{
            .description-buffet{
                margin-bottom: 3rem;
            }
        }/* end -> .box-left */
        .box-right{
            .img-buffet{
                &:nth-child(even){
                    margin-left: -17px;
                }
                img{
                    margin-left: 20px;
                    height: 150px;
                }
            }
        }/* end -> .box-right */
    }/* end ---> #section-description-buffet */


    // section-tarif-buffet ----------------------------------------------------
    #section-tarif-buffet{
        .box-intro-tarif{
            .box-left{
                padding: 3rem;
                padding-bottom: 0;
            }

            .box-right{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 80%;
                }
            }
        }/* end --> .box-intro-tarif */
    }/* END ---> #section-tarif-buffet */
}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){
    // page-buffet-msg ---------------------------------------------------------
    #page-buffet-msg{
        .justify-content-md-center {
            margin-right: 0;
            margin-left: 0;
        }

    }/* END ---> #page-buffet-msg */


    // section-description-buffet ----------------------------------------------
    #section-description-buffet{
        .box-left{
            .description-buffet{
                font-size: small;
                padding: 0 5px;
                margin-bottom: 2rem;
            }
        }/* end -> .box-left */
        .box-right{
            padding: 0 18px;
            .img-buffet{
                &:nth-child(even){
                    margin-top: 20px;
                }
                img{
                    margin-bottom: 5px;
                    height: 100px;
                }
            }
        }/* end -> .box-right */
    }/* end ---> #section-description-buffet */


    // section-tarif-buffet ----------------------------------------------------
    #section-tarif-buffet{
        .box-intro-tarif{
            .box-left{
                padding: 2.5rem;
                padding-bottom: 0;
                p{
                    font-size: large;
                }
                .catch{
                    font-size: 1.5rem;
                    text-align: center;
                    line-height: 1.2;
                }
            }

            .box-right{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 90%;
                }
            }
        }/* end --> .box-intro-tarif */
    }/* END ---> #section-tarif-buffet */

}
