// main: ../style.scss

.card-formule{
    margin-bottom: 2rem;
}

.item-drink{
    line-height: 1rem;
    margin: 10px 10px;
}

.info-element-buffet{
    margin-right: 5px;
}


/*------------------------------------------------------------------------------*/
/* section-description-buffet */
/*------------------------------------------------------------------------------*/
#section-description-buffet{
    margin-bottom: 3rem;

    h2{
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    /* --- box-left --- */
    .box-left{
        padding: 0 4%;
        .description-buffet{
            text-align: justify;
        }
    } /* end -> .box-left */

    /* --- box-right --- */
    .box-right{
        padding: 0 4% 2% 0;
        .img-buffet{
            &:nth-child(even){
                margin-top: 30px;
            }
            img{
                @include border-radius(15px);
                margin-bottom: 20px;
                @include shadow-regular;
                max-height: 180px;
                height: auto;
            }
        }
    } /* end -> .box-right */

}/* END ==> #section-description-buffet */


/*------------------------------------------------------------------------------*/
/* section-tarif-buffet */
/*------------------------------------------------------------------------------*/
#section-tarif-buffet{
    h1{
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    // box-intro-tarif ---------------------------------------------------------
    .box-intro-tarif{
        margin-bottom: 3rem;
        .box-left{

        }/* end -> box-left */
        .box-right{
            img{
                width: 100%;
            } /* end -> box-right */
        } /* end --> box-right */
    } /* end --> box-intro-tarif */
    .item-card{
        margin-bottom: 3rem;
    }

    // box-formule -------------------------------------------------------------
    .box-formule{

    } /* end --> box-formule */

}/* END ==> section-tarif-buffet */

.box-collapse{
    height: 250px;

    &-left{
        padding: 1rem;
        border: 2px solid #dfdfdf;
        background-color: #dfdfdf;
        height: 100%
    }

    &-right{
        border: 2px solid #dfdfdf;
        padding: 1rem;
        height: 100%;
        .table-tarif{
            width: 100%;
        }
    }
} /* END ==> box-collapse */


/*------------------------------------------------------------------------------*/
/* MEDUIM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    .box-left{
        .description-buffet{
            font-size: medium;
            margin-bottom: 3rem;
        }
    }
    .box-right{
        .img-buffet{
            &:nth-child(even){
                margin-top: 15px;
            }
            img{
                margin-left: 12px;
                height: 240px;
            }
        }
    }
}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    .box-left{
        .description-buffet{
            margin-bottom: 3rem;
        }
    }
    .box-right{
        .img-buffet{
            &:nth-child(even){
                margin-left: -17px;
            }
            img{
                margin-left: 20px;
                height: 160px;
            }
        }
    }
}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){
    .box-left{
        .description-buffet{
            font-size: small;
            padding: 0 5px;
            margin-bottom: 2rem;
        }
    }
    .box-right{
        padding: 0 18px;
        .img-buffet{
            &:nth-child(even){
                margin-top: 20px;
            }
            img{
                margin-bottom: 5px;
                height: 100px;
            }
        }
    }
}
