// main: ../style.scss











/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
