// main: ../style.scss

/*------------------------------------------------------------------------------*/
/* SECTION-LOCATION */
/*------------------------------------------------------------------------------*/
#section-location{
    margin: 4rem auto;

    iframe{
        width: 600px;
        height: 400px;
    }

    .box-right{
        margin-top: 2rem;
    }

    .item-location{
        @include flexbox;
        line-height: 2;
        .icons{
            font-size: 1.45rem;
            margin-right: 15px;
        }

        p{
            font-size: 1.25rem;
        }
    }
}




/*------------------------------------------------------------------------------*/
/* SECTION-HORAIRE */
/*------------------------------------------------------------------------------*/
#section-horaire{
    margin: 4rem auto;

    .box-left{
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        img{
            width: 60%;
        }
    }

    .table-horaire{
        width: 65%;
        font-size: large;
        .item-heure{
            border-bottom: 1px solid $light-gray;
            line-height: 4;
            &:last-child{
                border: none;
            }
        }
        .day{
            vertical-align: middle;
            text-transform: uppercase;
            padding-left: 2rem;
        }
        .close{
            text-align: right;
            text-transform: uppercase;
            padding-right: 1rem;
        }
        .heure{
            line-height: 1.1;
            font-size: medium;
            text-align: right;
            vertical-align: middle;
            padding-right: 1rem;
        }
    }
}






/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
