// main: ../style.scss

#page-emporter-msg{
    .box-msg{
        .acchoche{
            font-size: 1.7rem;
            padding: 5rem 2rem;
            text-align: justify;
        }
        img{
            margin-left: 0;
        }
    }
}









// MEDIUM ----------------------------------------------------------------------
@include responsive(M){

}

// SMALL -----------------------------------------------------------------------
@include responsive(S){

}

//  EXTRA SMALL ----------------------------------------------------------------
@include responsive(XS){

}
