// main: ../style.scss

/*------------------------------------------------------------------------------*/
/* PAGE-EMPORTER-MSG */
/*------------------------------------------------------------------------------*/
#page-emporter-msg{
    .box-msg{
        img{
            margin-left: 0;
            width: 110%;
        }
    }
}


/*------------------------------------------------------------------------------*/
/* carte-emporter */
/*------------------------------------------------------------------------------*/
#carte-emporter{
    margin-bottom: 3rem;

    .info-emporter{
        img{
            width: 60%;
            margin-left: 4rem;
        }

        ul{
            font-size: 1.3rem;
            margin-top: 6rem;
            margin-left: -2rem;
        }

        span{
            line-height: 2;
            vertical-align: text-top;
        }
    }

    .titre-type-emporter{
        text-align: center;
        font-size: 1.2rem;
        padding: 1rem 0;
    }
    .box-entre, .box-plat{
        border: 1px solid $light-gray;
    }
}

#content-emporter{
    margin: 3rem 0;

    .scale-anm{
        margin: 1rem 0;
        border-radius: .35rem;
        .box-titre, .box-table{
            border: 1px solid $light-gray;
        }
    }

    .box-titre{
        text-align: center;

        h2{
            font-size: 1.8rem;
            margin-top: 2rem;
        }

        img{
            width: 30%;
            padding: 3rem 0;
        }
    }

    .box-table{
        padding: 3rem;


    }
}


/*------------------------------------------------------------------------------*/
/* carte-emporter */
/*------------------------------------------------------------------------------*/
#buffet-emporter{
    margin: 4rem auto;
    .box-titre{
        text-align: center;
        margin-bottom: 3rem;

        .titre-section{
            margin-bottom: 0;
            line-height: 2;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .box-left{
        text-align: right;
        margin-left: 3rem;
    }

    .box-right{
        @include flexbox;
        @include justify-content(center);
        margin-left: -6rem;

        img{
            width: 70%;
            height: auto;
        }
    }

    .item-taykeaway{
        background-repeat: no-repeat;
        background-position: 50% 50%;

        .row{
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            padding: 1rem 0;
        }
        .box-taykeaway{
            text-align: center;
            img{
                width: 60%;
                margin-top: -1rem;
            }
        }

        .box-txt{
            text-align: left;
            p{
                font-size: 1.1rem;
                padding-bottom: 10px;
            }

        }

        .box-prix{
            margin-left: -7rem;
            p{
                font-size: 1.1rem;
                font-weight: bold;
                padding-bottom: 10px;
                text-align: left;
                color: $colorPrimary;
            }
        }
    }

}



/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    // carte-emporter ----------------------------------------------------------
    #carte-emporter{
        .info-emporter{
            @include flexbox;
            @include justify-content(center);
            ul{
                font-size: large;
                margin-top: 3rem;
                margin-left: -1rem;
            }
        }
    }
    // content-emporter --------------------------------------------------------
    #content-emporter{
        .box-table{
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }
    // buffet-emporter ---------------------------------------------------------
    #buffet-emporter{
        .box{
            &-left{
                margin-left: 0;
                text-align: left;
            }

            &-right{
                @include justify-content(center);
                margin-left: 0;
                padding: 2rem;
                img{
                    width: 90%;
                }
            }
        }
        .item-taykeaway{
            .box{
                &-taykeaway{
                    text-align: left;
                    img{
                        width: 100%;
                        margin-top: -1rem;
                        min-height: 75px;
                    }
                }
                &-prix{
                    margin-left: 0;
                }
            }
        }
    }

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    // page-emporter-msg -------------------------------------------------------
    #page-emporter-msg{
        .justify-content-md-center {
            margin-right: 0;
            margin-left: 0;
        }

        .box-msg .row{
            margin-bottom: 0;
        }
        .box-avatar{
             img{
                width: 70%;
             }
         }
    }

    // carte-emporter ----------------------------------------------------------
    #carte-emporter{
        .titre-section{
            margin-bottom: 1.5rem;
        }
        .justify-content-md-center {
            margin-right: 0;
            margin-left: 0;
        }
        .info-emporter{
            img{
                width: 80%;
                margin-left: 0;
            }
            ul{
                margin-left: -2rem;
                margin-top: 1.5rem;
                font-size: medium;
                li{
                    margin-bottom: 0.5rem;
                    &:first-child{
                        margin-bottom: 1rem;
                    }
                }
            }
            span{
                line-height: 0;
                vertical-align: initial;
            }
        }

        .box-entre, .box-plat{
            padding-bottom: 1.5rem;
        }
        .titre-type-emporter{
            font-size: 1.3rem;
        }
    }

    // content-emporter --------------------------------------------------------
    #content-emporter{
        .box-titre{
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            h2{
                font-size: x-large;
                margin-top: 0;
                margin-left: 0;
                padding: 1rem 0;
            }
            .img-choix{
                width: 55%;
                text-align: right;
            }
            img{
                padding: 1rem 0;
                width: 25;
                margin-right: 0;
            }
        }
    }

    // buffet-emporter ---------------------------------------------------------
    #buffet-emporter{
        .box{
            &-left{
                margin-left: 0;
                text-align: left;
            }
            &-right{
                display: none;
            }
        }
        .item-taykeaway{
            .box{
                &-taykeaway{
                    text-align: left;
                    img{
                        width: 80%;
                        /* min-height: 75px; */
                    }
                }
                &-prix{
                    margin-left: -2rem;
                    p{
                        text-align: right;
                    }
                }
            }
        }
    }
}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){
    // page-emporter-msg -------------------------------------------------------
    #page-emporter-msg{
        .justify-content-md-center {
            margin-right: 0;
            margin-left: 0;
        }

        .box-msg .row{
            margin-bottom: 0;
        }
        .box-avatar{
             img{
                width: 70%;
             }
         }
    }

    // carte-emporter ----------------------------------------------------------
    #carte-emporter{
        .titre-section{
            margin-bottom: 1.5rem;
        }
        .justify-content-md-center {
            margin-right: 0;
            margin-left: 0;
        }
        .info-emporter{
            img{
                display: none;
            }
            ul{
                margin-left: -7rem;
                margin-top: 1.5rem;
                margin-bottom: 2rem;
                font-size: 1rem;
                li{
                    margin-bottom: 0.5rem;
                    &:first-child{
                        margin-bottom: 1.5rem;
                    }
                }
            }
            span{
                line-height: 0;
                vertical-align: initial;
            }
        }

        .box-entre, .box-plat{
            padding-bottom: 1.5rem;
        }
        .titre-type-emporter{
            font-size: 1.3rem;
        }
    }

    // content-emporter --------------------------------------------------------
    #content-emporter{
        .box-titre{
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            h2{
                font-size: larger;
                margin-top: 0;
                margin-left: 0;
                padding: 1rem 0;
                line-height: 1;
            }
            .img-choix{
                width: 55%;
                text-align: right;
            }
            img{
                padding: 1rem 0;
                width: 25;
                margin-right: 0;
            }
        }
        .box-table{
            padding: 1rem;
        }
    }

    // buffet-emporter ---------------------------------------------------------
    #buffet-emporter{
        .box{
            &-left{
                margin-left: 0;
                text-align: left;
            }
            &-right{
                display: none;
            }
        }
        .item-taykeaway{
            background-size: contain;
            .box{
                &-taykeaway{
                    text-align: left;
                    margin-left: -2.5rem;
                    img{
                        max-width: 120%;
                        width: auto;
                        max-height: 75px;
                        height: auto;
                    }
                }
                &-prix{
                    margin-left: 0;
                }
            }
        }
    }
}
