// main: ../style.scss

/*------------------------------------------------------------------------------*/
/* PAGE-EMPORTER-MSG */
/*------------------------------------------------------------------------------*/
#page-emporter-msg{
    .box-msg{
        .acchoche{
            font-size: 1.7rem;
            padding: 5rem 2rem;
            text-align: justify;
        }
        img{
            margin-left: 0;
        }
    }
}


/*------------------------------------------------------------------------------*/
/* carte-emporter */
/*------------------------------------------------------------------------------*/
#carte-emporter{
    margin-bottom: 3rem;

    .info-emporter{
        img{
            width: 60%;
            margin-left: 4rem;
        }

        ul{
            font-size: 1.3rem;
            margin-top: 6rem;
            margin-left: -2rem;
        }

        span{
            line-height: 2;
            vertical-align: text-top;
        }
    }

    .titre-type-emporter{
        text-align: center;
        font-size: 1.2rem;
        padding: 1rem 0;
    }
    .box-entre, .box-plat{
        border: 1px solid $light-gray;
    }
}

#portfolio{
    margin: 3rem 0;

    .scale-anm{
        margin: 1rem 0;
        border-radius: .35rem;
        .box-titre, .box-table{
            border: 1px solid $light-gray;
        }
    }

    .box-titre{
        text-align: center;

        h2{
            font-size: 1.8rem;
            margin-top: 2rem;
        }

        img{
            width: 30%;
            padding: 3rem 0;
        }
    }

    .box-table{
        padding: 3rem;

        .table-emporter{
            width: 100%;
            td{
                line-height: 2;
            }
            tr{
                border-bottom: 1px solid $light-gray;
                &:last-child{
                    border: none;
                }
            }
        }
    }


}



/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
