// main: ../style.scss


/*------------------------------------------------------------------------------*/
/* PAGE-EVENT-MSG */
/*------------------------------------------------------------------------------*/
#page-event-msg{
    .box-msg{
        .acchoche{
            font-size: 1.5rem;
            padding: 5rem 1.3rem;
            text-align: justify;
        }
        img{
            padding-top: 1rem;
        }
    }
}

/*------------------------------------------------------------------------------*/
/* SECTION-EVENT */
/*------------------------------------------------------------------------------*/
#section-event{
    margin: 3rem auto;

    .row{
        padding: 15px;
        @include flexbox;
        @include flex-flow;
    }

    .img-event{
        position: relative;
        overflow: hidden;
        img{
            /* opacity: .5; */
            max-height: 450px;
            height: auto;
            padding: 3rem;
        }
    }
    .info-event{
        list-style: none;
        display: inline-flex;
        font-family: $fontSecondary;
        font-size: 1rem;
        text-transform: uppercase;
        line-height: 1;
        padding-left: 0;
        span{
            padding: 0 10px;
        }
    }


    .hovered{
        .card-body{
            position: absolute;
            bottom: 0;
            right: 15px;
            left: 15px;
            left: 0;
            z-index: 2;
            text-align: center;
            width: 100%;
        }
    }
    .hovered:hover .btn-event{
        opacity: 1;
        max-height: 190px;
    }

    .btn-event{
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out 0s;
        &::before, &::after{
            display: block;
            clear: both;
            content: '';
            width: 0;
            height: 0;
        }
        .btn{
            margin: 20px 0;
            text-transform: uppercase;
            font-size: larger;
        }
    }

}

/*------------------------------------------------------------------------------*/
/* SINGLE-EVENT */
/*------------------------------------------------------------------------------*/
#cover-page-event{
    .icons{
        font-size: 1.2rem;
        margin-right: 5px;
    }

    .separ{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

#section-single-event{
    margin: 3rem auto;
    text-align: center;
    img{
        max-width: 80%;
        width: auto;
        height: auto;

        -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
                box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }


}


/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    // page-event-msg ----------------------------------------------------------
    #page-event-msg{
        .box-msg{
            margin-top: 5rem;
            margin-bottom: 5rem;
            .acchoche{
                font-size: 1.1rem;
                padding: 2rem;
            }
        }
    }

    // section-event -----------------------------------------------------------
    #section-event{
        margin-top: 0;
    }

    // cover-page-event --------------------------------------------------------
    #cover-page-event{
        .icons{
            font-size: 1rem;
        }
    }

    // section-single-event ----------------------------------------------------
    #section-single-event{

    }
}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    // page-event-msg ----------------------------------------------------------
    #page-event-msg{
        .justify-content-md-center {
            margin-right: 0;
            margin-left: 0;
        }
        .box-msg{
            .acchoche{
                line-height: 1.3;
                padding: 2rem;
                padding-bottom: 0;
                font-size: x-large;
            }
        }
    }

    // section-event -----------------------------------------------------------
    #section-event{
        margin-top: 0;
    }

    // cover-page-event --------------------------------------------------------
    #cover-page-event{
        .icons{
            font-size: 1rem;
        }
    }

    // section-single-event ----------------------------------------------------
    #section-single-event{
        img{
            max-width: 100%;
        }
    }
}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){
    // page-event-msg ----------------------------------------------------------
    #page-event-msg{
        .justify-content-md-center {
            margin-right: 0;
            margin-left: 0;
        }
        .box-msg{
            .acchoche{
                line-height: 1.3;
                padding: 1rem 2rem;
                font-size: large;
            }
        }
    }

    // section-single-event ----------------------------------------------------
    #section-single-event{
        img{
            max-width: 100%;
        }
    }

    // section-event -----------------------------------------------------------
    #section-event{
        margin-top: 0;
        .info-event{
            font-size: .8em;
        }
        .img-event{
            img{
                max-height: 450px;
                padding: 1rem 2rem;
            }
        }
        .card-title{
            font-size: x-large;
            line-height: 0.5;
        }

        .btn-event .btn{
            font-size: smaller;
            margin: .3rem 0;
        }

    }
}
