// main: ../style.scss


/*------------------------------------------------------------------------------*/
/* SECTION-DESC-CART */
/*------------------------------------------------------------------------------*/
#section-desc-carte{
    margin-top: 0;
    margin-bottom: 7rem;
    .titre-section{
        margin-bottom: 2rem;
    }
    .desc-carte{
        font-size: large;
        text-align: justify;
        padding: 0 11rem;
    }
}


/*------------------------------------------------------------------------------*/
/* CARTE-CONTENT */
/*------------------------------------------------------------------------------*/
#carte-content{
    margin-bottom: 3rem;

    .tab-pane{
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        border: 1px solid #e4e4e4;
    } /* end--> .tab-pane */


    .bg-opacity{
        @include filter-opacite(0.95);
    } /* end--> .bg-opacity */


    .titre-section{
        padding: 2.5rem;
        margin-bottom: 0;
    } /* end--> .titre-section */

}


/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

    // #page-carte-msg ---------------------------------------------------------
    #page-carte-msg{
        .box-avatar{
             img{
                 margin-left: 0;
                 max-height: 100%;
             }
         }
     }

    // #section-desc-carte -----------------------------------------------------
    #section-desc-carte{
        .desc-carte{
            padding: 0 6.6rem;
        }
    }

    // #carte-content ----------------------------------------------------------
    #carte-content{
        .titre-section{
            padding-bottom: 0;
        }
    }
}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    // #page-carte-msg ---------------------------------------------------------
    #page-carte-msg{
        .justify-content-md-center {
            margin-right: 0;
            margin-left: 0;
        }
        .box-avatar{
             img{
                width: 60%;
             }
         }
    }/* END ---> #page-carte-msg */

    // #section-desc-carte -----------------------------------------------------
    #section-desc-carte{
        margin-bottom: 3rem;
        .desc-carte{
            padding: 1rem;
        }
    }


    // #carte-content ----------------------------------------------------------
    #carte-content{
        .titre-section{
            padding: 2rem;
        }
        .justify-content-md-center{
            margin-right: 15px;
            margin-left: 15px;
        }
    }
}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){
    // #page-carte-msg ---------------------------------------------------------
    #page-carte-msg{
        .justify-content-md-center {
            margin-right: 0;
            margin-left: 0;
        }
        .box-avatar{
            img{
                width: 70%;
            }
        }
    }/* END ---> #page-carte-msg */

    // #section-desc-carte -----------------------------------------------------
    #section-desc-carte{
        margin-bottom: 3rem;
        .desc-carte{
            padding: 1rem;
        }
    }


    // #carte-content ----------------------------------------------------------
    #carte-content{
        .titre-section{
            padding: 1.5rem;
            line-height: 1;
        }
        .justify-content-md-center{
            margin-right: 0;
            margin-left: 0;
        }
    }

}
