// main: ../style.scss

/*------------------------------------------------------------------------------*/
/* PAGE-CARTE-MSG */
/*------------------------------------------------------------------------------*/
#page-carte-msg{
    .box-msg{
        h2{
            font-size: 1.8rem;
            margin-bottom: 0;
        }
        ul{
            font-size: 1.4rem;
            margin-top: 3rem;
        }
    }
}

#section-desc-carte{
    margin-bottom: 2rem;
    .titre-section{
        margin-bottom: 2rem;
    }
    .desc-carte{
        font-size: 1.1rem;
        text-align: justify;
        padding: 0 6rem;
    }
}



/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
