// main: ../style.scss

/*------------------------------------------------------------------------------*/
/* PAGE-CARTE-MSG */
/*------------------------------------------------------------------------------*/
#page-carte-msg{
    .box-msg{
        h2{
            font-size: 1.8rem;
            margin-bottom: 0;
        }
        ul{
            font-size: 1.4rem;
            margin-top: 3rem;
        }
    }
}


/*------------------------------------------------------------------------------*/
/* SECTION-DESC-CART */
/*------------------------------------------------------------------------------*/
#section-desc-carte{
    margin-bottom: 2rem;
    .titre-section{
        margin-bottom: 2rem;
    }
    .desc-carte{
        font-size: 1.1rem;
        text-align: justify;
        padding: 0 6rem;
    }
}


/*------------------------------------------------------------------------------*/
/* CARTE-CONTENT */
/*------------------------------------------------------------------------------*/
#carte-content{
    margin-bottom: 3rem;

    .tab-pane{
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    } /* end--> .tab-pane */


    .bg-opacity{
        @include filter-opacite(0.8);
    } /* end--> .bg-opacity */


    .titre-section{
        padding: 2.5rem;
        margin-bottom: 0;
    } /* end--> .titre-section */

}


/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
