// main: ../style.scss


/*------------------------------------------------------------------------------*/
/* GENERAL */
/*------------------------------------------------------------------------------*/
body{
    background-color: $colorLight;
    color: $colorDark;
    font-family: $fontPrimary;
}

a{
    color: inherit;
    text-decoration: none;
    &:hover{
        color: inherit;
        text-decoration: none;
    }
}

img{
    width: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
