// main: ../style.scss


/*------------------------------------------------------------------------------*/
/* GENERAL */
/*------------------------------------------------------------------------------*/
body{
    background-color: $colorLight;
    color: $colorDark;
    font-family: $fontPrimary;
}

a{
    color: inherit;
    text-decoration: none;
    &:hover{
        color: inherit;
        text-decoration: none;
    }
}

img{
    width: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.titre-section{
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.strong-color{
    color: $colorPrimary;
    font-size: 1.8rem;
    font-weight: bold;
}

.color-price{
    color: $colorPrimary;
}

/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    .strong-color{
        font-size: x-large;
    }
}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    .strong-color{
        font-size: 1.5rem;
        line-height: 1;
        letter-spacing: 4px;
        padding: 0;
    }
}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){
    .strong-color{
        font-size: 1.7rem;
        line-height: 1;
        letter-spacing: 2px;
        padding: 0;
    }
}
