// main: ../style.scss

/*------------------------------------------------------------------------------*/
/* BOUTON */
/*------------------------------------------------------------------------------*/

// BTN -------------------------------------------------------------------------
.btn{
    width: auto;
    line-height: 2;
    margin-top: 10%;
    margin-bottom: 10%;
    &.focus {
      box-shadow: none !important;
    }
    &:focus{
        box-shadow: none !important;
    }
} /* END ==> BTN */

// BTN-OUTLINE -----------------------------------------------------------------
.btn-outline{
    border: 2px solid $colorPrimary;
    color: $colorPrimary;
    &:hover{
        color: $colorLight;
        background-color: $colorPrimary;
        border-color: $colorPrimary;
    }

    // .btn-outline-light -----------------
    &-light{
        border: 2px solid $colorLight;
        color: $colorLight;
        width: 100%;
        &hover{
            color: $colorDark;
            background-color: $colorLight;
            border-color: $colorLight;
        }
    } /* end --> .btn-outline-light */
} /* END ==> .btn-outline */


// BTN-CENTER -----------------------------------------------------------------
.btn-center{
    text-align: center;
    .btn{
        font-size: x-large;
        letter-spacing: 2px;
        width: 50%;

    }
} /* END ==> BTN-CENTER */

// BTN-TARIF -------------------------------------------------------------------
.btn-tarif{
    margin-bottom: 15px;
    .row{
        margin-left: 15px;
        margin-right: 15px;
    }
    .btn{
        width: 100%;
        background-color: transparent;
        border: 2px solid $colorPrimary;
        text-transform: uppercase;
        color: $colorPrimary;
        letter-spacing: 5px;
        &:hover{
            color: $colorLight;
            background-color: $colorPrimary;
            border-color: $colorPrimary;
        }
    }
} /* END ==> BTN-TARIF */

// BTN-FILTER ------------------------------------------------------------------
.btn-filter{
    border-radius: 100%;
    border: 1px solid $light-gray;
    height: 90px;
    margin: 7px;
    text-transform: capitalize;

    img{
        width: 50%;
        height: auto;
        margin-bottom: 1px;
    }
} /* END => BTN-FILTRE */


/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    // BTN-FILTER --------------------------------------------------------------
    .btn-filter{
        min-height: 75px;
        min-width: 75px;
        height: 100%;
        width: 100%;
        margin: auto;
        text-align: center;
        margin-bottom: 1rem;
        img{
            width: 70%;
            height: auto;
            margin-bottom: 6px;
        }
        p{
            font-size: small;
            text-align: center;
            white-space: normal;
            line-height: 1;
        }
    }
}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    // BTN-CENTER --------------------------------------------------------------
    .btn-center{
        .btn{
            width: 100%;
        }
    }

    // BTN-FILTER --------------------------------------------------------------
    .btn-filter{
        min-height: 75px;
        min-width: 75px;
        height: 100%;
        width: 100%;
        max-height: 90px;
        max-width: 90px;
        margin: auto;
        text-align: center;
        margin-bottom: 1rem;
        img{
            width: 50%;
            height: auto;
            margin-bottom: 8px;
        }
        p{
            font-size: small;
            text-align: center;
            white-space: normal;
            line-height: 1;
        }
    }
}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){
    // BTN-CENTER --------------------------------------------------------------
    .btn-center{
        .btn{
            width: 100%;
        }
    }

    // BTN-FILTER --------------------------------------------------------------
    .btn-filter{
        min-height: 75px;
        min-width: 75px;
        height: 100%;
        width: 100%;
        max-height: 100px;
        max-width: 100px;
        margin: auto;
        text-align: center;
        margin-bottom: 1rem;
        img{
            width: 70%;
            height: auto;
            margin-bottom: 8px;
        }
        p{
            font-size: small;
            text-align: center;
            white-space: normal;
            line-height: 1;
        }
    }
}
