// main: ../style.scss


/*------------------------------------------------------------------------------*/
/* BOX-MSG */
/*------------------------------------------------------------------------------*/
.box-msg{
    margin: 9rem auto;
    @include shadow-regular;
    img{
        width: 100%;
        margin-left: 1rem;
    }
    h2{
        font-size: 1.8rem;
        margin: 1rem auto;
        line-height: 2;
        text-align: center;
    }
    ul{
        margin-left: 3rem;
        font-size: 1.1rem;
        margin-top: 1rem;
    }
    // btn ---------------------------------
    .btn{
        margin: 2rem auto;
        text-transform: uppercase;
        font-size: larger;
    } /* end --> btn */
}


/*------------------------------------------------------------------------------*/
/* BOX-PHONE */
/*------------------------------------------------------------------------------*/
.box-phone{
    background-color: $colorDark;
    opacity: 0.5;
    color: $colorLight;
    padding: 3rem;
    font-size: 1.8rem;
    h1{
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    p{
        letter-spacing: 3px;
        line-height: 2;
    }
}





/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    // BOX-MSG -----------------------------------------------------------------
    .box-msg{
        .box-avatar{
            display: flex;
            justify-content: center;
            img{
                margin-left: 3rem;
                height: 65%;
            }
        }
        ul{
            font-size: medium;
        }
        .btn{
            font-size: medium;
        }
    }

    // BOX-PHONE ---------------------------------------------------------------
    .box-phone{
        font-size: x-large;
        p{
            line-height: 1;
        }
    }

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    // BOX-MSG -----------------------------------------------------------------
    .box-msg{
        margin-top: 4rem;
        margin-bottom: 4rem;
        .box-avatar{
            display: flex;
            justify-content: center;
            img{
                width: 50%;
            }
        }

        ul{
            display: grid;
            justify-content: center;
            margin-top: 2rem;
        }

    }/* end --> .box-msg */

    // BOX-PHONE ---------------------------------------------------------------
    .box-phone{
        font-size: x-large;
        p{
            line-height: 1;
        }
    }

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){
    // BOX-MSG -----------------------------------------------------------------
    .box-msg{
        margin-top: 4rem;
        margin-bottom: 4rem;
        h2{
            line-height: 1;
            margin-bottom: 3rem;
        }
        .box-avatar{
            display: flex;
            justify-content: center;
            img{
                width: 50%;
            }
        }

        ul{
            display: grid;
            justify-content: center;
            margin-top: 2rem;
            margin-left: 2rem;
        }

        .btn{
            font-size: medium;
            white-space: normal;
            line-height: 1;
            padding: 15px;
        }
    }/* end --> .box-msg */

    // BOX-PHONE ---------------------------------------------------------------
    .box-phone{
        h1{
            font-size: 1.4rem;
            line-height: 1;
            margin-bottom: 0.8rem;
        }
        p{
            line-height: 1;
            font-size: large;
        }
    }

}
