// main: ../style.scss

/*------------------------------------------------------------------------------*/
/* CARD-TARIF */
/*------------------------------------------------------------------------------*/
.card-tarif{
    height: 370px;
    h3{
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
    .card-body{
        padding-bottom: 0;
        padding-left: 3rem;
    }
}

/*------------------------------------------------------------------------------*/
/* CARD-COLLAPSE */
/*------------------------------------------------------------------------------*/
.card-collapse{
    @include flex-center;
    margin-bottom: 2rem;
}


/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
