// main: ../style.scss

/*------------------------------------------------------------------------------*/
/* CARD-TARIF */
/*------------------------------------------------------------------------------*/
.card-tarif{
    height: 300px;
    .card-body{
        padding-bottom: 0;
    }
}

/*------------------------------------------------------------------------------*/
/* CARD-COLLAPSE */
/*------------------------------------------------------------------------------*/
.card-collapse{
    @include flex-center;
    margin-bottom: 2rem;
}


/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
