// main: ../style.scss

/*------------------------------------------------------------------------------*/
/* CARD-TARIF */
/*------------------------------------------------------------------------------*/
.card-tarif{
    height: 380px;
    &:hover, &:active, &:focus{
        @include shadow-regular;
    }
    h3{
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
    .card-body{
        padding-bottom: 0;
        padding-left: 2rem;
        ul{
            margin-left: 0;
        }
    }
}

/*------------------------------------------------------------------------------*/
/* CARD-COLLAPSE */
/*------------------------------------------------------------------------------*/
.card-collapse{
    margin-bottom: 10px;

    .titre-collapse{
        text-align: center;
        font-size: 1.4rem;
        margin: 1.8rem 0 1.6rem;
        letter-spacing: 3px;
    }
    ul{
        margin-left: 1rem;
    }


    .left{
        border-right: 1px solid rgba(0,0,0,0.125);
    }
}

/*------------------------------------------------------------------------------*/
/* CARD-MENU */
/*------------------------------------------------------------------------------*/
.card-menu{
    margin-bottom: 3rem;
    padding: 0 3rem;
    background: transparent;
    @include shadow-sall;


    .titre-card{
        font-size: 3rem;
        padding: 3rem 0;
    } /* end--> titre-card */


    .info-menu{
        background: $light-gray;
        width: 25%;
        position: absolute;
        right: 0;
        top: 3rem;
        padding: 1rem 2rem;
        text-align: center;

        .prix{
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 5px;
        } /* end --> .prix */
    } /* end --> .info-menu */

    .titre-service{
        font-size: 1.3rem;
        padding: 1rem 0;
        padding-bottom: 0.3rem;
    } /* end --> .titre-service */

    .content-servive{
        font-size: 1rem;
        margin-bottom: 1rem;
    } /* end --> .content-servive */
}


/*------------------------------------------------------------------------------*/
/* CARD-carte */
/*------------------------------------------------------------------------------*/
.card-carte{
    margin-bottom: 3rem;
    /* padding: 2rem 4rem; */
    background: transparent;
    /* @include shadow-regular; */
    border: none;

    .titre-service{
        padding-top: 2.5rem;
        padding-bottom: 0rem;
        font-size: larger;
        line-height: 2;
        text-transform: capitalize;
        font-weight: bold;
    } /* end --> .titre-service */

}


/*------------------------------------------------------------------------------*/
/* CARD-EVENT */
/*------------------------------------------------------------------------------*/
.card-event{
    margin: 15px;
    width: calc((100% / 3) - 30px);
    display: flex;
    justify-content: center;

    .card-title{
        text-align: center;
        margin-top: 0;
        font-size: 2rem;
        line-height: 1.2;
    }

    .card-body{
        background-color: $colorPrimary;
        color: $colorLight,
    }

}




/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    // card-menu ---------------------------------------------------------------
    .card-menu{
        padding: auto 2rem;
        .titre-card{
            font-size: xx-large;
        }
        .info-menu{
            width: 30%;
            padding: 1rem;
            ul{
                font-size: small;
            }
        }
    }

    // card-carte --------------------------------------------------------------


    // card-event --------------------------------------------------------------
    .card-event{
        width: calc((100% / 2) - 30px);
        min-height: 450px;
        max-height: 500px;
        height: 100%;
        .img-event{
            img{
                height:400px;
            }
        }
        .card-title{
            font-size: calc( 2rem + (1.5 - 2) * ((100vw - 20rem) / (48 - 20)));
        }
        .info-event{
            font-size: 12.1px;
        }
        span{
            padding: 0 2px;
        }
        .btn{
            font-size: smaller;
            white-space: normal;
            line-height: normal;
        }
    }
}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    // card-menu ---------------------------------------------------------------
    .card-menu{
        padding-left: 1rem;
        padding-right: 1rem;
        .titre-card{
            font-size: xx-large;
            margin-right: 5rem;
            line-height: 1;
        }
        .info-menu{
            width: 35%;
            padding: 1rem;
            ul{
                font-size: small;
                line-height: 1.2;
            }
        }
    }

    // card-carte --------------------------------------------------------------


    // card-event --------------------------------------------------------------
    .card-event{
        width: 100%;
        .img-event{
            img{
                height: auto;
            }
        }
    }
}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){
    // card-menu ---------------------------------------------------------------
    .card-menu{
        padding-left: 1rem;
        padding-right: 1rem;
        .titre-card{
            font-size: x-large;
            margin-right: 6rem;
            line-height: 1;
        }
        .info-menu{
            width: 40%;
            padding: .5rem;
            .prix{
                font-size: 1.5rem;
            }
            ul{
                font-size: x-small;
                line-height: 1.2;
            }
        }
        .service{
            .titre-service{
                font-size: large;
                line-height: 1;
                padding-bottom: 1rem;
            }
            .content-servive{
                font-size: small;
                margin-bottom: 1rem;
            }
        }
    }

    // card-carte --------------------------------------------------------------
    .card-carte{
        .titre-service{
            font-size: medium;
            padding-top: 2rem;
        }
    }

    // card-event --------------------------------------------------------------
    .card-event{
        width: 100%;
        .img-event{
            img{
                max-height: 450px;
            }
        }
        .card-title{
            font-size: calc( 1.8rem + (4.25 - 1.8) * ((100vw - 20rem) / (48 - 20)));
            line-height: calc( 2 * (0.9rem + (4.25 - 2) * ((100vw - 20rem) / (48 - 20))));
        }
        .info-event{
            font-size: .8em;
        }
        .btn{
            font-size: smaller;
        }
    }
}
