// main: ../style.scss

#formule-buffet{

    * {
        box-sizing: border-box;
    }

    #page-album{
        h1{
            padding-top: 10%;
            padding-bottom: 6%;
            /* color: $colorPrimary; */
            font-size: 50px;
            text-align: center;
            /* text-transform: uppercase; */
        }
        .titre-card{
            font-size: 45px;
            max-width: 80%;
            display: block;
            margin: 0 auto;
            margin-bottom: 5%;
            margin-top: 3%;
            text-align:center;
        }
        .btn-social{
            margin-right: 5%;
            margin-left: 2%;
            margin-bottom: 10%;
            width: 90%;
        }
    }

    .wrapper {
        margin: 5em auto;
        max-width: 1000px;

        background-color: #fff;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
    }

    .header {
        padding: 30px 30px 0;
        text-align: center;

        &__title {
            margin: 0;
            /* text-transform: uppercase; */
            font-size: 2.5em;
            font-weight: 500;
            line-height: 1.1;
        }
        &__subtitle {
            margin: 0;
            font-size: 1.5em;
            color: $colorLight;
            font-family: 'Yesteryear', cursive;
            font-weight: 500;
            line-height: 1.1;
        }
    }

    //Grid Container
    .cards {
        padding: 15px;
        padding-bottom: 7%;
        margin-bottom: 9%;
        @include flexbox;
        @include flex-flow;
    }

    //Cards
    .card {
        border: 1px solid $light-gray;
        background-color: inherit;
        /* border: none; */
        margin: 15px;
        width: calc((100% / 3) - 30px);
        transition: all 0.2s ease-in-out;

        //media queries for stacking cards
        @media screen and (max-width: 991px) {
            width: calc((100% / 2) - 30px);
        }

        @media screen and (max-width: 767px) {
            width: 100%;
        }

        &:hover {
            .card__inner {
                background-color: $colorPrimary;
                color: $colorLight;
                /* transform: scale(1.05); */
            }
        }

        &__inner {
            width: 100%;
            /* height: 15%; */
            position: relative;
            cursor: pointer;

            background-color: $colorPrimary;
            color: $colorLight;
            /* border: 1px solid $colorPrimary; */
            font-size: 1.5em;
            text-align: center;
            line-height: 2.5;

            transition: all 0.2s ease-in-out;

            img{
                width: 100%;
                height: auto;
            }
            &:after {
                transition: all 0.3s ease-in-out;
            }

            .icons {
                width: 100%;
                margin-top: .25em;
            }
        }

        //Expander
        &__expander {
            transition: all 0.2s ease-in-out;
            background-color: $colorLight;
            border: 1px solid rgba(0,0,0, 0.124);
            border-radius: .25rem;
            width: 100%;
            position: relative;
            height: auto;

            @include flexbox;
            @include align-items(center);

            /* text-transform: uppercase; */
            color: $colorDark;

            img{
                /* width: 100%;
                height: auto;
                padding-left: 5%;
                padding-bottom: 5%; */
            }
            .icons {
                font-size: 1rem;
                font-weight: bold;
                position: absolute;
                top: 13px;
                right: 20px;
                cursor: pointer;

                &:hover {
                    opacity: 0.9;
                }
            }

            .box-formule{
                width: 100%;
                margin: 30px;
                margin-top:3rem;

                .titre-formule{
                    text-align: center;
                    font-size: 1.2rem;
                    margin: 1.5rem 0 1.5rem;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                }
                .box-info{
                    border: 1px solid $light-gray;
                    ul{
                        margin-left: 1rem;
                    }
                }
            }
        }

        &.is-collapsed {

            .card__inner {
                &:after {
                    content: "";
                    opacity: 0;
                }
            }
            .card__expander {
                max-height: 0;
                min-height: 0;
                overflow: hidden;
                margin-top: 0;
                opacity: 0;
            }
        }

        &.is-expanded {

            .card__inner {
                background-color: $colorPrimary;
                color: $colorLight;
                bottom: -20px;

                &:after{
                    content: "";
                    opacity: 1;
                    display: block;
                    height: 0;
                    width: 0;
                    position: absolute;
                    bottom: -10px;
                    left: calc(50% - 15px);
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-bottom: 15px solid #333a45;
                    @include shadow-regular;
                }

                //folder open icon
                .icons:before {
                    font-family: Flaticon;
                    content: "\f107";
                }
            }

            .card__expander {
                max-height: 1000px;
                min-height: 110%;
                overflow: visible;
                margin-top: 28px;
                opacity: 1;
                z-index: 1;
                @include shadow-regular;
            }

            &:hover {
                .card__inner {
                    transform: scale(1);
                }
            }
        }

        &.is-inactive {
            .card__inner {
                pointer-events: none;
                opacity: 0.5;
            }

            &:hover {
                .card__inner {
                    background-color: $colorLight;
                    transform: scale(1);
                }
            }
        }
    }


    //Expander Widths

    //when 3 cards in a row
    @media screen and (min-width: 992px) {

        .card:nth-of-type(3n+2) .card__expander {
            margin-left: calc(-100% - 30px);
        }
        .card:nth-of-type(3n+3) .card__expander {
            margin-left: calc(-200% - 60px);
        }
        .card:nth-of-type(3n+4) {
            clear: left;
        }
        .card__expander {
            width: calc(300% + 60px);
        }

    }

    //when 2 cards in a row
    @media screen and (min-width: 768px) and (max-width: 991px) {

        .card:nth-of-type(2n+2) .card__expander {
            margin-left: calc(-100% - 30px);
        }
        .card:nth-of-type(2n+3) {
            clear: left;
        }
        .card__expander {
            width: calc(200% + 30px);
        }

    }


}

/*------------------------------------------------------------------------------*/
/* MEDUIM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    #formule-buffet{
        .card.is-expanded .card__expander{
            min-height: 120%;
        }
        .card__expander{
            .box-formule{

                .titre-formule{
                    font-size: medium;
                    font-weight: bold;
                }/* end -> .titre-formule */

                h4{
                    font-size: .9rem;
                }

                .box-info{
                    ul{
                        margin-left: -.6rem;
                        margin-top: 1.5rem;
                        font-size: .9rem;
                    }

                    .icon-drink{
                        width: 23px;
                        margin-left: 0;
                        margin-right: 5px;
                    }
                }

            }/* end -> .box-formule  */
        }/* end --> .card__expander */
    }/* END ==> #formule-buffet */
}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    #formule-buffet{
        .card.is-expanded .card__expander{
            min-height: auto;
            max-height: 1100px;
        }

        .card__expander{
            .icons{
                font-size: .8rem;
                right: 12px;
            }
            .box-formule{
                margin-top: 3rem;
                .box-info{
                    ul{
                        margin-bottom: 2rem;
                    }
                    .item-drink{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){
    #formule-buffet{
        .card{
            height: auto;
        }
        .card-tarif{
            .card-body {
                padding-left: 0;
                margin-left: 1rem;

            }
        }

        h4{
            margin-bottom: 1.1rem;
        }

        ul{
            margin-left: 0;
            margin-bottom: 1.5rem;
            .item-drink{
                margin: 0 auto;
            }
            .icon-drink{
                margin-left: 0;
                margin-right: 5px;
                width: 20px;
            }
            .info-formule{
                font-size: small;
            }
        }

        .card.is-expanded .card__expander{
            min-height: auto;
            max-height: 200vh;
        }


        .card__expander{
            .icons{
                font-size: .8rem;
                right: 15px;
            }
            .box-formule{
                margin-left: .7rem;
                margin-right: .7rem;
                .box-info{
                    ul{
                        margin-left: 0;
                        margin-bottom: 1.5rem;
                        .item-drink{
                            margin: 0 auto;
                        }
                        .icon-drink{
                            margin-left: 0;
                            margin-right: 5px;
                            width: 20px;
                        }
                        .info-formule{
                            font-size: small;
                        }
                    }
                }
            }
        }
    }
}
