// main: ../style.scss

/*-----------------------------------------------------------------------------*/
/* ICON */
/*-----------------------------------------------------------------------------*/

// .icons ----------------------------------------------------------------------
.icons{
    display: inline;
    font-family: Flaticon;
    font-size: 1.5rem;
} /* END ==> .icons */

// .icon-carte -----------------------------------------------------------------
.icon-carte{
    width: 50px;
    height: auto;
    margin: 10px 10px;
} /* END ==> .icon-carte */

// .icon-drink -----------------------------------------------------------------
.icon-drink{
    width: 25px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
} /* END ==> .icon-drink */

/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
