// main: ../style.scss

/*------------------------------------------------------------------------------*/
/* BOX-PHONE */
/*------------------------------------------------------------------------------*/
// table-tarif ------------------
.table-tarif{
    width: 70%;
    margin-left: 3rem;
    margin-bottom: 1.5rem;

    .tarif-day{
        line-height: 2;
        
        .prix{
            font-weight: bold;
            color: $colorPrimary;
            text-align: center;
        } /* end --> .prix */
    } /* end --> .tarif-day */
} /* end --> .table-tarif */


/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
