// main: ../style.scss


/*------------------------------------------------------------------------------*/
/* TABLE-SERVICE */
/*------------------------------------------------------------------------------*/
.table-service{
    width: 100%;

    .item-service{
        border-bottom: 1px solid $light-gray;
        line-height: 3;
        &:last-child{
            border: none;
        }

        .num, .prix{
            width: 15%;
        }

        .num{
            padding-left: 2rem;
            padding-right: 2rem;
        }
        .prix{
            padding-left: 2rem;
            padding-right: 2rem;
            text-align: right;
        }
        .nom{
            width: 60%;
            line-height: 1;
            vertical-align: middle;
        }
    }
}

/*------------------------------------------------------------------------------*/
/* TABLE-TARIF */
/*------------------------------------------------------------------------------*/
.table-tarif{
    width: 70%;
    margin-left: 3rem;
    margin-bottom: 1.5rem;

    .tarif-day{
        line-height: 2;

        .prix{
            font-weight: bold;
            color: $colorPrimary;
            text-align: center;
        } /* end --> .prix */
    } /* end --> .tarif-day */
} /* end --> .table-tarif */


/*------------------------------------------------------------------------------*/
/* TABLE-EMPORTER */
/*------------------------------------------------------------------------------*/
.table-emporter{
    width: 100%;
    td{
        line-height: 2;
    }
    tr{
        border-bottom: 1px solid $light-gray;
        &:last-child{
            border: none;
        }
    }

    .numb, .price{
        width: 15%;
    }
    .numb{
        padding-left: 1rem;
        padding-right: 2rem;
    }
    .price{
        text-align: right;
    }
    .name{
        width: 60%;
        line-height: 1;
        vertical-align: middle;
    }
}

/*------------------------------------------------------------------------------*/
/* TABLE-HORAIRE */
/*------------------------------------------------------------------------------*/
.table-horaire{
    width: 65%;
    font-size: large;
    .item-heure{
        border-bottom: 1px solid $light-gray;
        line-height: 4;
        &:last-child{
            border: none;
        }
    }
    .day{
        vertical-align: middle;
        text-transform: uppercase;
        padding-left: 2rem;
    }
    .close{
        text-align: right;
        text-transform: uppercase;
        padding-right: 1rem;
    }
    .heure{
        line-height: 1.1;
        font-size: medium;
        text-align: right;
        vertical-align: middle;
        padding-right: 1rem;
    }
}

/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){
    //table-service ------------------------------------------------------------
    .table-service{
        .item-service{
            .num{
                padding-left: 1rem;
            }
            .prix{
                padding-right: 1rem;
                padding-left: 1rem;
            }
        }
    }

    //table-tarif --------------------------------------------------------------
    .table-tarif{
        margin-left: 0;
        width: 100%;
    }

    //table-horaire --------------------------------------------------------------
    .table-horaire{
        width: 100%;
        margin-left: -2rem;
    }
}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){
    //table-service ------------------------------------------------------------
    .table-service{
        .item-service{
            .num{
                padding-left: 1rem;
            }
            .prix{
                padding-right: 1rem;
                padding-left: 1rem;
            }
        }
    }

    //table-tarif --------------------------------------------------------------
    .table-tarif{
        margin-left: 2rem;
        width: 90%;
    }

    //table-horaire --------------------------------------------------------------
    .table-horaire{
        width: 90%;
    }
}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){
    //table-service ------------------------------------------------------------
    .table-service{
        font-size: small;
        .item-service{
            .num{
                padding-left: 0;
                padding-right: 1rem;
            }
            .nom{
                font-size: x-small;
                padding-right: .5rem;
            }
            .prix{
                padding-right: 0;
                padding-left: 0;
            }
        }
    }

    //table-tarif --------------------------------------------------------------
    .table-tarif{
        margin-left: 0;
        width: 100%;
    }

    //table-tarif --------------------------------------------------------------
    .table-emporter{
        font-size: small;
        .numb{
            padding-left: 0.5rem;
            padding-right: 0.6rem;
        }

        .name{
            font-size: x-small;
        }
    }

    //table-horaire --------------------------------------------------------------
    .table-horaire{
        width: 90%;
        font-size: medium;
        .day{
            padding-left: 1rem;
        }
        .heure{
            font-size: small;
        }
    }
}
