// main: ../style.scss


/*-----------------------------------------------------------------------------*/
/* video */
/*-----------------------------------------------------------------------------*/
.titre-2{
    position: absolute;
  top: 30%;
  width: 100%;
  font-size: 3.6rem;
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-shadow: 1px 1px 1px #16a085, 1px 1px 4px #2980b9;
  text-align: center;
}


/* .bg-video{
    width: 100%;
    height: 100%;
} */


#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}


/*------------------------------------------------------------------------------*/
/* MEDIUM */
/*------------------------------------------------------------------------------*/
@include responsive(M){

}


/*------------------------------------------------------------------------------*/
/* SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(S){

}


/*------------------------------------------------------------------------------*/
/* EXTRA SMALL */
/*------------------------------------------------------------------------------*/
@include responsive(XS){

}
